@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Sen", serif;
  letter-spacing: 1px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c9ced3;
}

.container {
  width: 480px;
  height: auto;
  padding-bottom: 1.5rem;
  margin-bottom: 15rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 600px) {
  body {
    background: #fff;
  }

  .container {
    width: 100%;
    box-shadow: none;
  }
}

.title,
h3 {
  font-family: "Playfair Display", serif;
  text-align: center;
}

h1 {
  margin-bottom: 0;
  font-size: 2rem;
}

h2 {
  margin-top: 0;
  font-size: 1.8rem;
}

h3 {
  background: #666;
  color: #fff;
  padding: 0.75rem;
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
  margin: 1rem 0;
  text-align: center;
}

.large-font {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.logo {
  width: 60%;
  min-width: 225px;
  margin: 0 auto 1rem;
  display: block;
}

hr {
  border: 1px solid #aaa;
}

p {
  font-size: 1rem;
  text-align: center;
}

a:link,
a:visited {
  color: #0060df;
}

a:hover {
  color: #0250bb;
}

address {
  line-height: 1.5;
  text-align: center;
}

.phone-num {
  display: block;
  text-align: center;
}

.intro-text {
  margin: 1.8rem 0;
  line-height: 1.3;
}

/* Form */
#form {
  width: 90%;
}

/* field-group */
.field-group {
  height: auto;
  margin: 0.75rem 0 0;
  padding-bottom: 1.25rem;
  position: relative;
}

.field-group label {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  display: inline-block;
}

.field-group input,
input[type="checkbox"]:not(.multi-product input[type="checkbox"]) {
  width: 100%;
  height: 34px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s;
}

.field-group.success input {
  border-color: #2ecc71;
}

.field-group.error input {
  border-color: #e74c3c;
}

.field-group i {
  position: absolute;
  top: 2rem;
  right: 0.8125rem;
  visibility: hidden;
}

.field-group.success i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}

.field-group.error i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}

.field-group small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.field-group.error small {
  visibility: visible;
  color: #e74c3c;
}

/* product-box */
.product-box label {
  bottom: 0;
  margin: 0.5rem;
}

.large-checkbox {
  transform: scale(2.8, 2.8);
  -webkit-transform: scale(2.8, 2.8);
  display: block;
  margin: 1.5rem auto;
  width: initial !important;
  height: initial !important;
}

input[type="checkbox"]:hover,
select:hover {
  cursor: pointer;
}

button {
  cursor: pointer;
  color: #fff;
  background: #000;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  font-family: "Sen", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin-top: 1rem;
}

button:hover {
  background: rgb(22, 22, 22);
}

button:focus {
  outline: none;
}

.product-box {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ccc;
}

.no-border {
  border: none;
}

.col-wrapper {
  display: flex;
}

.col-wrapper p {
  text-align: left;
}

.small {
  font-size: 0.8rem;
  margin: 1rem 0 0.5rem;
  line-height: 1.3;
}

.multi-product input {
  margin-bottom: 0.75rem;
}

.multi-product label {
  bottom: 0;
}

select {
  margin: 0.75rem 0;
}

.col-1-of-2 {
  width: 50%;
  margin-left: 10%;
  margin-bottom: 2rem;
}

.checkbox-wrapper {
  width: 50%;
  margin: 1rem auto;
  min-width: 180px;
  padding-left: 2rem;
}

.quantity-wrapper {
  margin: 1rem auto;
  text-align: center;
}

.multi-product .quantity-wrapper {
  text-align: right;
  max-width: 250px;
}

@media screen and (max-width: 258px) {
  .multi-product .quantity-wrapper {
    white-space: nowrap;
  }
}

.order-total-banner {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 0.75rem 0.25rem 0.5rem;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.order-total-display {
  font-size: 1.75rem;
  margin: 0.25rem;
}

.submit-btn {
  background: #666;
  width: 300px;
  display: block;
  margin: 1rem auto;
}

.submit-btn:hover {
  background: #888;
}

@media screen and (max-width: 360px) {
  .container {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .col-wrapper {
    display: block;
  }

  .col-1-of-2 {
    width: 100%;
    margin-left: 33%;
  }

  .field-group {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 400px) {
  .order-total-display {
    font-size: 1.2rem;
    margin: 0.1rem 0.25rem;
  }

  .order-total-banner .small {
    font-size: 0.6rem;
    margin: 0.5rem 0;
  }

  .submit-btn {
    width: 180px;
    height: 32px;
    font-size: 1rem;
  }
}

.error-message {
  border: 1px solid red !important;
  background: red;
}

.error-message[placeholder] {
  color: #fff !important;
  opacity: 1 !important;
  font-weight: bold;
}

.error-message::placeholder {
  opacity: 1; /* Firefox */
}

.large-checkbox,
input[data-checkbox] {
  visibility: hidden;
  margin: 0;
  width: 0;
  height: 0;
}

.custom-checkbox {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto !important;
  position: relative;
}

.large-checkbox:checked + .custom-checkbox,
input[data-checkbox]:checked + .custom-checkbox {
  background-color: #0250bb;
  border-color: #0250bb;
}

i.fa-check {
  position: absolute;
  color: #fff;
}

.custom-checkbox-large {
  width: 4rem;
  height: 4rem;
  border: 6px solid #bbb;
  border-radius: 0.5rem;
}

.custom-checkbox-large i.fa-check {
  font-size: 3.6rem;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  color: #fff;
}

.custom-checkbox-small {
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #bbb;
  border-radius: 4px;
  margin: 0 !important;
}

.checkbox-small-label {
  position: absolute;
  top: 0;
  left: 2rem;
  min-width: 150px;
}

.custom-checkbox-small i.fa-check {
  font-size: 1.1rem;
  position: absolute;
  top: 1px;
  left: 1px;
  color: #fff;
}
